.input-base {
 justify-content: center;
}

.main-container {
  border: 2px solid #e87509;
  border-radius: 25px;
  padding: 30px;
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  min-height: 500px;
}
.superior-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-row {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.nav-btn {
  flex: 1;
  padding: 12px;
  border: 2px solid #e87509;
  border-radius: 10px;
  background:#fda655;
  cursor: pointer;
  font-weight: bold;
}

.content-area {
  border: 2px solid #e87509;
  border-radius: 15px;
  padding: 20px;
  min-height: 300px;
  align-items: center
}
.inputClass {
border-radius: 8px;
background-color: aliceblue;
display: flex;
align-items: center;
justify-content: center;
}
.contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*Ver productos cards
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.product-card {
    border: 2px solid #e87509;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px); 
}

.product-card h3 {
    margin-top: 0;
    color: #333;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e87509;
    margin-top: 10px;
}


.auth-container {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    gap: 40px;
    background-color: #fffaf5;
    padding: 20px;
}
.login-box, .register-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #e87509;
    box-shadow: 0 4px 15px rgba(232, 117, 9, 0.2);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-box h2, .register-box h2 {
    color: #e87509;
    margin-bottom: 10px;
}
.login-box input, .register-box input {
    padding: 12px;
    border: 1px solid #e87509;
    border-radius: 8px;
    background-color: #fffcf9;
}
.login-box button, .register-box button {
    padding: 12px;
    background-color: #e87509;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}